@import "../../../styles/main.scss";

.aboutPartner{
    padding: 8rem 0;
    background: url(../../../assets/default_pattern.png) repeat center center/10px auto;
    figure{
        margin: 0 15px;
    }
}
