@import '../../../styles/main.scss';

.sideBar {

  :global {
    ul{
      padding-left: 0;
    }
    ul.categories{
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      a{
        font-style: italic;
        transition: all 0.3s ease;
        &:hover{
          opacity: 0.7;
        }
      }

    }
    
  }
}
