@import '../../styles/main.scss';

.footerPage {
  background: #000 url('../../assets/footer-img-1.jpeg') no-repeat center
    center/100% 100%;
  background-size: cover;
  position: relative;
  color: #dedede;
  p {
    line-height: 1.6;
  }
  a {
    color: #dedede !important;
  }
  & > div {
    position: relative;
    z-index: 10;
  }

  :global {
    form {
      .input-both {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        input {
          height: 4rem;
          background: transparent;
          outline: none;
          border: none;
          color: var(--primary-text--reverse);
          &::placeholder {
            color: var(--secondary-text);
          }
          &:focus {
            outline: none;
            box-shadow: none;
            &::placeholder {
              color: var(--primary-text--reverse);
            }
          }
        }
        button {
          background: transparent;
          outline: none;
          border: none;
          color: var(--primary-text--reverse);
        }
      }
    }
    .footer-item {
      h4 {
        color: var(--primary-text--reverse);
      }
    }
    .footer-ig {
      figure {
        img {
          aspect-ratio: 1 / 1;
        }
      }
    }
    .footer-social {
      background-color: var(--background-orther);
      figure {
        max-width: 20rem;
        @include Responsive(PHONE) {
          margin: 0 auto;
        }
        img {
          object-fit: cover;
        }
      }
      ul {
        margin-bottom: 0 !important;
        a {
          transition: all 0.3s ease;
          &:hover {
            color: var(--brand-primary) !important;
          }
        }
      }
    }
  }
}
