.headerInner {
  :global {
    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-logo {
        max-width: 20rem;
        a{
          color:  var(--brand-primary) !important;
        }
      }
      .header-main {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          align-items: center;
          padding-left: 0;
          margin-bottom: 0;
          li {
            font-size: 1.6rem;
            cursor: pointer;
            position: relative;
            padding-bottom: 1rem;
            &:after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 0;
              width: 0;
              height: 3px;
              background: var(--brand-primary);
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
          .li-active {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
    .menu-info {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
      &--show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
