@import './main.scss';
@import './color.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem !important;
  font-weight: 300;
  position: relative;
}

//custom
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li {
    a {
      text-decoration: none;
    }
  }
}
figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--primary-text) !important;
  text-decoration: none !important;
}

//header

.header-store {
  display: none !important;
  @include Responsive(PHONE) {
    display: flex !important;
  }
}

.header-inner {
  display: block;
  @include Responsive(PHONE) {
    display: none;
  }
}

//class text

.text-brand {
  color: var(--brand-primary);
}
.text-primarypage {
  color: var(--primary-text);
}

.text-primarypage--reverse {
  color: var(--primary-text--reverse);
}
.text-secondpage {
  color: var(--secondary-text);
}

.custom-divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--default-border);
}

//heading

//custom

.accordion-button {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0 !important;
  &:focus {
    box-shadow: none !important;
  }
}

.map-container {
  min-height: 500px;
  border: 0;
  // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  // filter: gray; /* IE6-9 */
  // -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
  // -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

//button

button {
  border: none;
  outline: none;
  box-shadow: none;
  a {
    span {
      display: inline-flex;
      padding: 8px 2rem;
      @include flex-center;
      min-height: 4rem;
      border: 1px solid;
      border-color: var(--default-border--other);
      transition: all 0.3s ease;
      box-shadow: 0;
    }
  }
  &:hover {
    a {
      span {
        background: #fff;
        border-color: var(--brand-primary) !important;
        box-shadow: 4px 6px #ccc;
      }
    }
  }
}
